<%= render 'shared/error_messages', object: f.object %>

<div class = "field">
  <%= f.label "Subject's name" %>
  <%= f.text_field :name, placeholder: "subject's name", class: "form-control" %>
</div>
