<h3>All questions</h3>

<% @questions.each do |question| %>
  <div class="question" id="question-<%= question.id %>">
    <h4>
      <%= question.content %>
      <span><%= link_to 'Remove', admin_question_path(question), method: :delete, data: {confirm: "Are you sure?"}, remote: true %></span>
    </h4>
    <% question.options.each do |option| %>
      <li><%= option.content %></li>
    <% end %>
  </div>
<% end %>
